.card {
	width: 100%;
	background-color: $background-primary;
	color: $color-white;
}

.card-inner-wrapper {
	display: flex;
	padding: 16px;
	column-gap: 8px;
	align-items: flex-start;
}

.game-image-wrapper {
	display: block;
	width: 200px;
	flex-shrink: 0;
}
.game-image {
	width: 100%;
	object-fit: contain;
	aspect-ratio: 1 / 1;
}

.game-info-wrapper {
	flex-grow: 1;
	min-width: 0;
}

.game-name {
	color: $color-white;
	font-size: 1.2rem;
	text-decoration: none;
}

.accordion {
	width: 100%;
	margin-top: 16px !important;
	background-color: $background-secondary;
}

.accordion-summary {
	width: 100%;
	color: $color-white;
}

.expand-more-icon {
	width: 100%;
	color: $color-white;
}
