.card {
	width: 100%;
	background-color: $background-primary;
	color: $color-white;
}

.card-inner-wrapper {
	display: flex;
	padding: 16px;
	column-gap: 8px;
	align-items: flex-start;
}

.game-image-wrapper {
	display: block;
	width: 400px;
}
.game-image {
	width: 100%;
	object-fit: contain;
	aspect-ratio: 1 / 1;
}

.game-info-wrapper {
}

.game-name {
	color: $color-white;
	font-size: 1.2rem;
	text-decoration: none;
}
